$primary-color: #26ACF5;
$secondary-color: #FFFFFF;

$sidenav-bg-color: #F2F4F5;
$sidenav-color: #808080;
$sidenav-border-color: #DFE7ED;

$console-label-color: #1D2126;
$console-bg-color: #333639;

$schema-color-1: #FF88BB;
$schema-color-2: #63BAB9;
$schema-color-3: #F9B450;
$schema-color-4: #74BC62;
$schema-color-5: #F9835A;
$schema-color-6: #CC88FF;