@import "color";

body {
  margin: 0;
  height: 100%;
  min-height: 100%;

  .header-container {
    background-color: $primary-color;
    color: $secondary-color;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 4px -7px 40px 8px rgba(38, 172, 245, 0.29);

    .navbar {
      display: inline-flex;
      height: 100%;

      a.navitem {
        padding: 0 20px;
        color: $secondary-color;
        font-size: 22px;
        text-decoration: none;
        text-transform: none !important;
        display: flex;
        align-items: center;
        width: 140px;
        justify-content: center;
        border-bottom: 3px solid rgba(0, 0, 0, 0);

        &:visited, &:hover {
          background-color: $primary-color !important;
          color: $secondary-color;
          text-decoration: none;
        }

        &.current-page {
          font-weight: 600;
          border-bottom-color: $secondary-color;
        }
      }
    }

    .logo .logo-button img {
      width: 300px;
      height: auto;
      padding: 0 20px;
    }
  }

  .full-height {
    height: 100%;

    .content-container {
      padding-top: 70px;
      padding-bottom: 23px;
      height: 100%;
    }
  }

  md-input-container.md-input-focused label {
    color: $primary-color !important;
  }

  md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    color: $sidenav-color !important;
  }

  .md-select-menu-container md-select-menu md-content md-option {
    color: $sidenav-color !important;

    &[selected] {
      color: $primary-color !important;
    }
  }
}