@import "color";

.lesson {
  background-color: $sidenav-bg-color;
  color: $sidenav-color;
  height: 100%;
  overflow: auto;
  border-right: solid 1px $sidenav-border-color;

  .lesson-header h4 {
    color: $primary-color;
    margin: 20px 0 10px;
  }

  .lesson-title {
    display: flex;
    justify-content: space-between;

    md-icon {
      color: $primary-color;
      margin: 0 50px;
      cursor: pointer;

      &.disabled {
        color: $sidenav-color;
        cursor: default;
      }
    }
  }

  .lesson-content {
    padding: 10px;

    .lesson-content-text {

      .lesson-text {
        margin: 0;
        padding: 10px;
        text-align: justify;
      }

      .lesson-code {
        margin: 5px;
        padding: 10px;
        background-color: $secondary-color;
        border-radius: 50px;
        border: solid 1px #C4D3DB;
        color: $primary-color;
        text-align: center;
      }
    }

    .lesson-form {
      md-input-container.question {
        margin: 10px;

        label:not(.md-no-float):not(.md-container-ignore) {
          left: 5px;
        }

        textarea {
          background-color: $secondary-color;
          height: 100px;
          max-height: 100px;
          border: 1px solid $primary-color;
          border-radius: 2px;
          color: $textarea-color;
        }

        &:not(.md-input-invalid).md-input-focused .md-input{
          border: 1px solid $primary-color;
          border-radius: 2px;
        }
      }

      .lesson-footer {
        text-align: right;

        .md-button {
          background-color: $primary-color;
          color: $secondary-color;
          margin: 0 10px;
        }

        span {
          margin: 0 10px;
        }

        .md-icon {
          bottom: 2px;
          position: relative;
        }
      }
    }
  }
}
