@import "color";

.schema, .schema-query  {
  .schema-background {
    background-color: $secondary-color;
    height: 100%;
  }

  .schema-title {
    color: $sidenav-color;
    padding: 10px;
    border-bottom: solid 1px $sidenav-border-color;

    h3 {
      font-weight: normal;
      font-size: 20px;
      margin: 10px;
    }
  }

  .schema-tables {
    padding: 5px 50px;

    .schema-table {
      padding: 10px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 14px;

          div {
            display: inline-block;
            color: $sidenav-color;
          }
        }
      }

      .schema-underline {
        text-decoration: underline;
        text-underline-position: under;
      }

      .referred-attribute {
        color: $secondary-color;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 6px;
      }

      .color-1 {
        .schema-underline {
          text-decoration-color: $schema-color-1;
        }

        h3, md-icon, md-checkbox.md-checked .md-ink-ripple {
          color: $schema-color-1;
        }

        .referred-attribute, md-checkbox.md-checked .md-ink-ripple md-icon {
          background-color: $schema-color-1;
        }
      }

      .color-2 {
        .schema-underline {
          text-decoration-color: $schema-color-2;
        }

        h3, md-icon, md-checkbox.md-checked .md-ink-ripple {
          color: $schema-color-2;
        }

        .referred-attribute, md-checkbox.md-checked .md-ink-ripple md-icon {
          background-color: $schema-color-2;
        }
      }

      .color-3 {
        .schema-underline {
          text-decoration-color: $schema-color-3;
        }

        h3, md-icon, md-checkbox.md-checked .md-ink-ripple {
          color: $schema-color-3;
        }

        .referred-attribute, md-checkbox.md-checked .md-ink-ripple md-icon {
          background-color: $schema-color-3;
        }
      }

      .color-4 {
        .schema-underline {
          text-decoration-color: $schema-color-4;
        }

        h3, md-icon, md-checkbox.md-checked .md-ink-ripple {
          color: $schema-color-4;
        }

        .referred-attribute, md-checkbox.md-checked .md-ink-ripple md-icon {
          background-color: $schema-color-4;
        }
      }

      .color-5 {
        .schema-underline {
          text-decoration-color: $schema-color-5;
        }

        h3, md-icon, md-checkbox.md-checked .md-ink-ripple {
          color: $schema-color-5;
        }

        .referred-attribute, md-checkbox.md-checked .md-ink-ripple md-icon {
          background-color: $schema-color-5;
        }
      }

      .color-6 {
        .schema-underline {
          text-decoration-color: $schema-color-6;
        }

        h3, md-icon, md-checkbox.md-checked .md-ink-ripple {
          color: $schema-color-6;
        }

        .referred-attribute, md-checkbox.md-checked .md-ink-ripple md-icon {
          background-color: $schema-color-6;
        }
      }
    }
  }

  h3 {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}