body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.full-height {
    height: 100%;
}

.header-container {
    background-color: #26ACF5;
    color: #FEFEFE;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 4px -7px 40px 8px rgba(38, 172, 245, 0.29);
}

.navbar {
    display: inline-flex;
    height: 100%;
}

a.navitem {
    padding: 0 20px;
    color: #FEFEFE;
    font-size: 22px;
    text-decoration: none;
    text-transform: none !important;
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

a.navitem:visited {
    background-color: #26ACF5 !important;
    color: #FEFEFE;
    text-decoration: none;
}

a.navitem:hover {
    background-color: #26ACF5 !important;
    color: #FEFEFE;
    text-decoration: none;
}

a.navitem.current-page {
    font-weight: 600;
    border-bottom-color: white;
}


.logo {
    min-width: 240px;
    height: inherit;
}

.logo-button {
    font-size: 30px;
}

.logo-button img {
    width: 40px;
    height: auto;
    margin: 10px;
}

.content-container {
    padding-top: 80px;
    height: 100%;
    padding-bottom: 40px;
}

.current-page span {
    font-weight: bold;
    color: #26ACF5;
}

.current-page md-icon {
    color: #26ACF5;
}