.console {
    height: 40px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.console-label {
    background-color: #9B9B9B;
}

.console-text {
    width: 100%;
}

.console textarea {
    color: #FEFEFE;
}

.console textarea .md-input {
    overflow: auto;
}

#console md-input-container {
    margin: 0;
    padding: 0;
    background-color: #464646;
    border: none;
}

#console md-input-container .md-input{
    border: none;
}

#console md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border: none;
}

.md-errors-spacer {
    display: none;
}