.lesson {
    background-color: #F2F4F5;
    color: #808080;
    height: 100%;
    overflow: auto;
    border-right: solid 1px #DFE7ED;
}

.lesson-header h4 {
    color: #26ACF5;
    margin: 20px 0 10px;
}

.lesson-title {
    display: flex;
    justify-content: space-between;
}

.lesson-title md-icon {
    color: #26ACF5;
    margin: 0 50px;
    cursor: pointer;
}

.lesson-title md-icon.disabled {
    color: #808080;
}

.lesson-content {
    padding: 10px;
}

.lesson-content-text p {
    margin: 0;
    padding: 0;
}

.lesson-content-text .lesson-text {
    margin: 0;
    padding: 10px;
}

.lesson-content-text .lesson-text p {
    text-align: justify;
}

.lesson-content-text .lesson-code {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    border: solid 1px #C4D3DB;
    color: #26ACF5;
}

.lesson-content-text .lesson-code p {
    text-align: center;
}

.question {
    margin: 10px;
}

.question textarea {
    background-color: #FFFFFF;
    // color: #C4CFD5;
    height: 100px;
    max-height: 100px;
    border: 1px solid #26ACF5;
    border-radius: 2px;
}

#answer md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border: 1px solid #26ACF5;
    border-radius: 2px;
}