.lesson {
    background-color: #C85050;
    color: #FEFEFE;
    height: 100%;
    overflow: auto;
}

.lesson-content {
}

.lesson-content-text p {
    margin: 0;
    padding: 0;
}

.lesson-content-text .lesson-text {
    margin: 0;
    padding: 10px;
}

.lesson-content-text .lesson-text p {
    text-align: justify;
}

.lesson-content-text .lesson-code {
    margin: 5px;
    padding: 5px;
    background-color: #C89696;
}

.lesson-content-text .lesson-code p {
    text-align: center;
}

.question {
    margin: 10px;
}

.question textarea {
    background-color: #D76464;
    color: #FEFEFE;
    height: 100px;
    max-height: 100px;
    border: solid;
    border-color: #FEFEFE;
    border-width: 1px;
}

#answer md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border: solid;
    border-color: #FEFEFE;
    border-width: 1px;
}