/* line 3, ../../sass/lesson.scss */
.lesson {
  background-color: #F2F4F5;
  color: #808080;
  height: 100%;
  overflow: auto;
  border-right: solid 1px #DFE7ED; }
/* line 10, ../../sass/lesson.scss */
.lesson .lesson-header h4 {
  color: #26ACF5;
  margin: 20px 0 10px; }
/* line 15, ../../sass/lesson.scss */
.lesson .lesson-title {
  display: flex;
  justify-content: space-between; }
/* line 19, ../../sass/lesson.scss */
.lesson .lesson-title md-icon {
  color: #26ACF5;
  margin: 0 50px;
  cursor: pointer; }
/* line 24, ../../sass/lesson.scss */
.lesson .lesson-title md-icon.disabled {
  color: #808080; }
/* line 30, ../../sass/lesson.scss */
.lesson .lesson-content {
  padding: 10px; }
/* line 34, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text p {
  margin: 0;
  padding: 0; }
/* line 39, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .lesson-text {
  margin: 0;
  padding: 10px; }
/* line 43, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .lesson-text p {
  text-align: justify; }
/* line 48, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .lesson-code {
  margin: 5px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 50px;
  border: solid 1px #C4D3DB;
  color: #26ACF5; }
/* line 56, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .lesson-code p {
  text-align: center; }
/* line 62, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .question {
  margin: 10px; }
/* line 65, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .question textarea {
  background-color: #FFFFFF;
  height: 100px;
  max-height: 100px;
  border: 1px solid #26ACF5;
  border-radius: 2px; }
/* line 74, ../../sass/lesson.scss */
.lesson .lesson-content .lesson-content-text .question #answer md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border: 1px solid #26ACF5;
  border-radius: 2px; }
