/* line 4, ../../sass/schema.scss */
.schema .schema-background, .schema-query .schema-background {
  background-color: #FFFFFF;
  height: 100%; }
/* line 9, ../../sass/schema.scss */
.schema .schema-title, .schema-query .schema-title {
  color: #808080;
  padding: 15px;
  border-bottom: solid 1px #DFE7ED; }
/* line 14, ../../sass/schema.scss */
.schema .schema-title h3, .schema-query .schema-title h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 10px; }
/* line 21, ../../sass/schema.scss */
.schema .schema-tables, .schema-query .schema-tables {
  padding: 5px 50px; }
/* line 24, ../../sass/schema.scss */
.schema .schema-tables .schema-table, .schema-query .schema-tables .schema-table {
  padding: 10px; }
/* line 27, ../../sass/schema.scss */
.schema .schema-tables .schema-table ul, .schema-query .schema-tables .schema-table ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
/* line 32, ../../sass/schema.scss */
.schema .schema-tables .schema-table ul li, .schema-query .schema-tables .schema-table ul li {
  font-size: 14px; }
/* line 35, ../../sass/schema.scss */
.schema .schema-tables .schema-table ul li div, .schema-query .schema-tables .schema-table ul li div {
  display: inline-block;
  color: #808080; }
/* line 42, ../../sass/schema.scss */
.schema .schema-tables .schema-table .schema-underline, .schema-query .schema-tables .schema-table .schema-underline {
  text-decoration: underline;
  text-underline-position: under; }
/* line 47, ../../sass/schema.scss */
.schema .schema-tables .schema-table .referred-attribute, .schema-query .schema-tables .schema-table .referred-attribute {
  color: #FFFFFF;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 6px; }
/* line 55, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-1 .schema-underline, .schema-query .schema-tables .schema-table .color-1 .schema-underline {
  text-decoration-color: #FF88BB; }
/* line 59, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-1 h3, .schema .schema-tables .schema-table .color-1 md-icon, .schema .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-1 h3, .schema-query .schema-tables .schema-table .color-1 md-icon, .schema-query .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple {
  color: #FF88BB; }
/* line 63, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-1 .referred-attribute, .schema .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-1 .referred-attribute, .schema-query .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #FF88BB; }
/* line 69, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-2 .schema-underline, .schema-query .schema-tables .schema-table .color-2 .schema-underline {
  text-decoration-color: #63BAB9; }
/* line 73, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-2 h3, .schema .schema-tables .schema-table .color-2 md-icon, .schema .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-2 h3, .schema-query .schema-tables .schema-table .color-2 md-icon, .schema-query .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple {
  color: #63BAB9; }
/* line 77, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-2 .referred-attribute, .schema .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-2 .referred-attribute, .schema-query .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #63BAB9; }
/* line 83, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-3 .schema-underline, .schema-query .schema-tables .schema-table .color-3 .schema-underline {
  text-decoration-color: #F9B450; }
/* line 87, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-3 h3, .schema .schema-tables .schema-table .color-3 md-icon, .schema .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-3 h3, .schema-query .schema-tables .schema-table .color-3 md-icon, .schema-query .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple {
  color: #F9B450; }
/* line 91, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-3 .referred-attribute, .schema .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-3 .referred-attribute, .schema-query .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #F9B450; }
/* line 97, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-4 .schema-underline, .schema-query .schema-tables .schema-table .color-4 .schema-underline {
  text-decoration-color: #74BC62; }
/* line 101, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-4 h3, .schema .schema-tables .schema-table .color-4 md-icon, .schema .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-4 h3, .schema-query .schema-tables .schema-table .color-4 md-icon, .schema-query .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple {
  color: #74BC62; }
/* line 105, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-4 .referred-attribute, .schema .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-4 .referred-attribute, .schema-query .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #74BC62; }
/* line 111, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-5 .schema-underline, .schema-query .schema-tables .schema-table .color-5 .schema-underline {
  text-decoration-color: #F9835A; }
/* line 115, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-5 h3, .schema .schema-tables .schema-table .color-5 md-icon, .schema .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-5 h3, .schema-query .schema-tables .schema-table .color-5 md-icon, .schema-query .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple {
  color: #F9835A; }
/* line 119, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-5 .referred-attribute, .schema .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-5 .referred-attribute, .schema-query .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #F9835A; }
/* line 125, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-6 .schema-underline, .schema-query .schema-tables .schema-table .color-6 .schema-underline {
  text-decoration-color: #CC88FF; }
/* line 129, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-6 h3, .schema .schema-tables .schema-table .color-6 md-icon, .schema .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-6 h3, .schema-query .schema-tables .schema-table .color-6 md-icon, .schema-query .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple {
  color: #CC88FF; }
/* line 133, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-6 .referred-attribute, .schema .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-6 .referred-attribute, .schema-query .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #CC88FF; }
/* line 140, ../../sass/schema.scss */
.schema h3, .schema-query h3 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 3, ../../sass/schema-select.scss */
.schema-select {
  color: rgba(0, 0, 0, 0.4);
  background-color: #F2F4F5;
  border-bottom: solid 1px #DFE7ED;
  overflow: auto;
  text-align: center; }
/* line 10, ../../sass/schema-select.scss */
.schema-select md-select {
  background-color: #F2F4F5;
  margin: 0;
  padding: 10px;
  max-height: 60px; }
/* line 16, ../../sass/schema-select.scss */
.schema-select md-select.md-default-theme:not([disabled]):focus .md-select-value, .schema-select md-select:not([disabled]):focus .md-select-value {
  color: #26ACF5; }

/* line 3, ../../sass/console.scss */
.console {
  height: 140px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: height 0.5s;
  transition: height 0.5s; }
/* line 13, ../../sass/console.scss */
.console.hidden {
  height: 40px; }
/* line 17, ../../sass/console.scss */
.console .console-label {
  background-color: #1D2126;
  color: white;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }
/* line 26, ../../sass/console.scss */
.console .console-label md-icon {
  color: white;
  margin: 0;
  position: relative;
  bottom: 1px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }
/* line 34, ../../sass/console.scss */
.console .console-label md-icon.hidden {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
/* line 41, ../../sass/console.scss */
.console .query-history {
  background-color: #333639;
  color: white;
  width: 100%;
  height: 66px;
  max-height: 66px;
  overflow-y: scroll;
  padding: 2px;
  display: flex;
  flex-direction: column-reverse;
  cursor: text; }
/* line 53, ../../sass/console.scss */
.console .query-history span {
  padding: 2px 0; }
/* line 58, ../../sass/console.scss */
.console md-input-container.console-text {
  width: 100%;
  height: 30px;
  -webkit-transition: height 0.1s;
  transition: height 0.1s;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333639;
  border: none; }
/* line 69, ../../sass/console.scss */
.console md-input-container.console-text.hidden {
  height: 0;
  -webkit-transition: height 0.9s;
  transition: height 0.9s; }
/* line 75, ../../sass/console.scss */
.console md-input-container.console-text input {
  max-height: 100%;
  color: white; }
/* line 79, ../../sass/console.scss */
.console md-input-container.console-text input.md-input {
  overflow: auto;
  border: none; }
/* line 85, ../../sass/console.scss */
.console md-input-container.console-text:not(.md-input-invalid).md-input-focused .md-input {
  border: none; }
/* line 89, ../../sass/console.scss */
.console md-input-container.console-text .md-errors-spacer {
  display: none; }

/* line 3, ../../sass/datatable.scss */
.datatable {
  background-color: #F2F4F5;
  color: #808080;
  height: 100%;
  overflow: auto;
  border-left: solid 1px #DFE7ED; }
/* line 10, ../../sass/datatable.scss */
.datatable .datatable-title h3 {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  width: 250px;
  text-align: center; }
/* line 20, ../../sass/datatable.scss */
.datatable .datatable-content {
  padding: 15px;
  margin-top: 20px; }
/* line 24, ../../sass/datatable.scss */
.datatable .datatable-content .datatable-messages, .datatable .datatable-content .datatable-stats {
  text-align: center;
  margin-bottom: 20px; }
/* line 28, ../../sass/datatable.scss */
.datatable .datatable-content .datatable-messages .error, .datatable .datatable-content .datatable-stats .error {
  color: #F44336; }
/* line 32, ../../sass/datatable.scss */
.datatable .datatable-content .datatable-messages .number, .datatable .datatable-content .datatable-stats .number {
  color: #26ACF5;
  font-weight: 500; }
/* line 36, ../../sass/datatable.scss */
.datatable .datatable-content .datatable-messages .number.first, .datatable .datatable-content .datatable-stats .number.first {
  margin-right: 20px; }
/* line 42, ../../sass/datatable.scss */
.datatable .datatable-content table {
  margin: auto; }
/* line 45, ../../sass/datatable.scss */
.datatable .datatable-content table .table-header {
  color: #26ACF5; }
/* line 49, ../../sass/datatable.scss */
.datatable .datatable-content table td, .datatable .datatable-content table th {
  padding: 8px; }
/* line 54, ../../sass/datatable.scss */
.datatable .datatable-content .pagination {
  padding-top: 30px;
  text-align: center; }
/* line 58, ../../sass/datatable.scss */
.datatable .datatable-content .pagination .items {
  width: 115px;
  margin-right: 50px; }
/* line 63, ../../sass/datatable.scss */
.datatable .datatable-content .pagination md-icon {
  color: #26ACF5;
  cursor: pointer; }
/* line 67, ../../sass/datatable.scss */
.datatable .datatable-content .pagination md-icon.disabled {
  color: #808080;
  cursor: default; }
