/* line 4, ../../sass/schema.scss */
.schema .schema-title, .schema-query .schema-title {
  color: #808080;
  padding: 15px;
  border-bottom: solid 1px #DFE7ED; }
/* line 9, ../../sass/schema.scss */
.schema .schema-title h3, .schema-query .schema-title h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 10px; }
/* line 16, ../../sass/schema.scss */
.schema .schema-tables, .schema-query .schema-tables {
  padding: 5px 50px; }
/* line 19, ../../sass/schema.scss */
.schema .schema-tables .schema-table, .schema-query .schema-tables .schema-table {
  padding: 10px; }
/* line 22, ../../sass/schema.scss */
.schema .schema-tables .schema-table ul, .schema-query .schema-tables .schema-table ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
/* line 27, ../../sass/schema.scss */
.schema .schema-tables .schema-table ul li, .schema-query .schema-tables .schema-table ul li {
  font-size: 14px; }
/* line 30, ../../sass/schema.scss */
.schema .schema-tables .schema-table ul li div, .schema-query .schema-tables .schema-table ul li div {
  display: inline-block;
  color: #808080; }
/* line 37, ../../sass/schema.scss */
.schema .schema-tables .schema-table .schema-underline, .schema-query .schema-tables .schema-table .schema-underline {
  text-decoration: underline;
  text-underline-position: under; }
/* line 42, ../../sass/schema.scss */
.schema .schema-tables .schema-table .referred-attribute, .schema-query .schema-tables .schema-table .referred-attribute {
  color: #FFFFFF;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 6px; }
/* line 50, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-1 .schema-underline, .schema-query .schema-tables .schema-table .color-1 .schema-underline {
  text-decoration-color: #FF88BB; }
/* line 54, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-1 h3, .schema .schema-tables .schema-table .color-1 md-icon, .schema .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-1 h3, .schema-query .schema-tables .schema-table .color-1 md-icon, .schema-query .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple {
  color: #FF88BB; }
/* line 58, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-1 .referred-attribute, .schema .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-1 .referred-attribute, .schema-query .schema-tables .schema-table .color-1 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #FF88BB; }
/* line 64, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-2 .schema-underline, .schema-query .schema-tables .schema-table .color-2 .schema-underline {
  text-decoration-color: #63BAB9; }
/* line 68, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-2 h3, .schema .schema-tables .schema-table .color-2 md-icon, .schema .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-2 h3, .schema-query .schema-tables .schema-table .color-2 md-icon, .schema-query .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple {
  color: #63BAB9; }
/* line 72, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-2 .referred-attribute, .schema .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-2 .referred-attribute, .schema-query .schema-tables .schema-table .color-2 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #63BAB9; }
/* line 78, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-3 .schema-underline, .schema-query .schema-tables .schema-table .color-3 .schema-underline {
  text-decoration-color: #F9B450; }
/* line 82, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-3 h3, .schema .schema-tables .schema-table .color-3 md-icon, .schema .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-3 h3, .schema-query .schema-tables .schema-table .color-3 md-icon, .schema-query .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple {
  color: #F9B450; }
/* line 86, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-3 .referred-attribute, .schema .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-3 .referred-attribute, .schema-query .schema-tables .schema-table .color-3 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #F9B450; }
/* line 92, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-4 .schema-underline, .schema-query .schema-tables .schema-table .color-4 .schema-underline {
  text-decoration-color: #74BC62; }
/* line 96, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-4 h3, .schema .schema-tables .schema-table .color-4 md-icon, .schema .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-4 h3, .schema-query .schema-tables .schema-table .color-4 md-icon, .schema-query .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple {
  color: #74BC62; }
/* line 100, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-4 .referred-attribute, .schema .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-4 .referred-attribute, .schema-query .schema-tables .schema-table .color-4 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #74BC62; }
/* line 106, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-5 .schema-underline, .schema-query .schema-tables .schema-table .color-5 .schema-underline {
  text-decoration-color: #F9835A; }
/* line 110, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-5 h3, .schema .schema-tables .schema-table .color-5 md-icon, .schema .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-5 h3, .schema-query .schema-tables .schema-table .color-5 md-icon, .schema-query .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple {
  color: #F9835A; }
/* line 114, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-5 .referred-attribute, .schema .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-5 .referred-attribute, .schema-query .schema-tables .schema-table .color-5 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #F9835A; }
/* line 120, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-6 .schema-underline, .schema-query .schema-tables .schema-table .color-6 .schema-underline {
  text-decoration-color: #CC88FF; }
/* line 124, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-6 h3, .schema .schema-tables .schema-table .color-6 md-icon, .schema .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple, .schema-query .schema-tables .schema-table .color-6 h3, .schema-query .schema-tables .schema-table .color-6 md-icon, .schema-query .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple {
  color: #CC88FF; }
/* line 128, ../../sass/schema.scss */
.schema .schema-tables .schema-table .color-6 .referred-attribute, .schema .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple md-icon, .schema-query .schema-tables .schema-table .color-6 .referred-attribute, .schema-query .schema-tables .schema-table .color-6 md-checkbox.md-checked .md-ink-ripple md-icon {
  background-color: #CC88FF; }
/* line 135, ../../sass/schema.scss */
.schema h3, .schema-query h3 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
