<md-dialog aria-label="Functions">

    <md-toolbar ng-class="colors[dialogTable.id]">
        <div class="md-toolbar-tools">
            <h2>Funções da tabela @{ dialogTable.title }@</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="@{ closeIconUrl }@" aria-label="Fechar"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div class="md-dialog-content">

            <form name="form">

                <md-list>

                    <md-list-item ng-repeat="function in functions[dialogTable.id]" layout="row">

                        <md-input-container flex>
                            <label>Função</label>
                            <md-select ng-model="function.method" name="operator" required>
                                <md-option ng-repeat="method in listOfMethods" ng-value="method">
                                    @{ method }@
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Distinto</label>
                            <md-select ng-model="function.distinct" name="distinct">
                                <md-option value=""><em>Todos</em></md-option>
                                <md-option value="true">DISTINCT</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Atributo</label>
                            <md-select ng-model="function.attribute" name="attribute" required>
                                <md-option ng-repeat="attribute in listOfAttributes" ng-value="attribute.name">
                                    @{ attribute.name }@
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex class="md-block">
                            <label>Label</label>
                            <input ng-model="function.as" name="alias">
                        </md-input-container>

                        <div flex="10">
                            <md-button class="md-icon-button" ng-click="removeFunction($index)">
                                <md-icon md-svg-src="@{ closeIconUrl }@" aria-label="Remover função"></md-icon>
                            </md-button>
                        </div>

                        <md-divider></md-divider>

                    </md-list-item>

                    <section layout="row" layout-align="center center" layout-wrap ng-class="colors[dialogTable.id]">
                        <md-button ng-click="addNewFunction(form)" class="md-icon-button">
                            <md-icon md-svg-src="@{ plusCircleIconUrl }@" aria-label="Nova Função"></md-icon>
                        </md-button>
                    </section>

                </md-list>

            </form>

        </div>

    </md-dialog-content>

</md-dialog>